@import 'App.scss';

.three-hours-of-location-page {
  @extend %header-wrap;
}

.body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.body_title {
  font-size: 2rem;
  font-family: 'DGO';
  text-align: center;
  @include p-y(.5rem);
}

.body_item-list {
  @include p-y(.5rem);
  display: flex;
  justify-content: space-between;
  background-color: $color-2;
  color: $color-4;

  >div {
    width: calc(100%/6);
    text-align: center;
  }
}

.body_times {
  @include p-y(.5rem);
  flex-grow: 1;
  overflow-y: scroll;
  @extend %hidden-scroll;
  cursor: default;
}